

                /* Animation permettant de faire apparaitre la "coche" a droite des entrées/plats/desserts au survol de la souris  */




.coche{
    @include directionRow;
    width: 0;
    transition-property: width;
    transition-duration: 0.250s;
    height:69px ;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    & i{
        color: white;
        font-size: 20px;
        overflow: hidden;
    }
}

.section-cards:hover{
    & > .coche{
        width: 70px;
    }
}



                                            /*      TEST D'UN EQUIVALENT EN KEYFRAMES



@keyframes coche{

    from{
        opacity:0;
        transform-origin: right;    
        transform: translateX(0);
    }

    to{
        transform:translateX(70px);
        opacity: 1;
    }
}

*/