                                                                /* Heart Page d'accueil */

.heart{
    width: 22px;
    height: 21px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 10000;
    & i{
        font-size: 20px;
    }
}





                                                       /* POSITIONNEMENT DU COEUR DANS LES MENUS */



.heart-menu{
    position: relative;
    width: 22px;
    height: 21px;
    top: -8px;
    left: 17px;
    & i{
        font-size: 20px;
    }
}
                                                    

                                                            /* ANIMATION DU REMPLISSAGE DU COEUR */



.regular-heart{
    position: absolute;
    z-index: 500;
}

.solid-heart{
    position: absolute;
    color: #b160db;
    z-index: 1000;
    opacity: 0;
    fill: url(#svg-gradient);
    transition-property: opacity;
    transition-duration: 0.5s;
    &:hover{
        opacity: 1;
    }
}