@import "Utils/Variables/variables";
@import "Utils/mixins/mixins";
@import "Layouts/header/header";
@import "Layouts/footer/footer";
@import "Base/Fonts/fonts";
@import "base/general/general";
@import "components/buttons/_buttons.scss";
@import "components/icons/heart";
@import "components/icons/coche";





                                                            /* MOBILE FIRST */

                                                            /* PAGES D'ACCUEIL */






                                                    /* ANIMATION AVEC @KEYFRAMES */




                                            /* ANIMATIONS AUX CHARGEMENTS DE LA PAGE D'ACCUEIL */

@keyframes animation-chargement{

    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        z-index: -2;
    }
}

@keyframes animation-chargement-fork-knife{

    0%{
        z-index: 454545454545454545454545454545;
        transform: rotate(0);
    }

    100%{
        transform: rotate(1080deg);
        z-index: -2;
        opacity: 0;
    }
}


.marge-droite{
    margin-right: 10px;
}



.animation-chargement{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 44687619874;
    animation-name: animation-chargement;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1.5s;
    &-fork-knife{
        position: sticky;
        margin-top: 25vh;
        width: 150px;
        z-index: 487845648976867648;
        font-size: 30px;
        fill: url(#svg-gradient);
        opacity: 1;
        animation-name: animation-chargement-fork-knife;
        animation-delay: 0.1s;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    &-title{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
        text-align: center;
        padding: 20px;
        &-text{
            position: sticky;
            color: #99E2D0;
            font-family: "shrikhand", sans-serif;
            font-size: 45px;
            font-weight: 800;
            text-align: center;
            text-decoration: underline #FF79DA;
            animation-name: animation-chargement;
            animation-duration: 5s;
        }
    }
}


                                            /* FIN DES ANIMATIONS AU CHARGEMENT DE LA PAGE D'ACCUEIL */




                                            /* ANIMATTIONS DES ENTREES, PLATS, DESSERT DANS LES MENUS */ 


@keyframes animation-plats{

    0%{
        transform:translateX(-100%);
        opacity: 0;
    }

    30%{
        opacity: 0.4;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}


                                                        /* FIN DES ANIMATIONS DES MENUS */







#main-menu{
    display: flex;
    height: 1100px;
    flex-direction: row;
    justify-content: center;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



                                                        /* ARTICLE UNDER 768PX */



.article{
    @include directionColumn;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 280px;
    background: rgba(234, 234, 234, 0.5);
    &-title{
        font-family: 'shrikhand', sans-serif;
        text-align: center;
        font-size: 24px;
        margin: 0;
    }
    &-subtitle{
        text-align: center;
        width: 100%;
        font-family: 'roboto', sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &-btn{
        width: 218px;
        height: 50px;
    }
}  




                                                        /* MAIN-FONCTIONNEMENT UNDER 768PX */





.main-fonctionnement{
    @include directionColumn;
    gap: 25px;
    height: 460px;
    width: 100%;
    &-title{
        display: flex;
        width: 91%;
        height: 31px;
        font-size: 24px;
        margin-top: 50px
    }
    &-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 86%;
    }
    &-nav{
        @include directionRow;
        width: 100%;
        height: 72.38px;
        border-radius: 20px;
        z-index: 500;
        background: rgba(246, 246, 246, 1);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        &-numero{
            @include directionRow;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: absolute;
            left: -11px;
            z-index: 1000;
            background: rgba(147, 86, 220, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 14.18px;
        }
        &-cygle1{
            @include positionnement-nav-cygle;
            margin: 0 8% 0 8%;

        }
        &-cygle2{
            @include positionnement-nav-cygle;
            margin: 0 12% 0 8%;
        }
        &-cygle3{
            @include positionnement-nav-cygle;
            margin: 0 10% 0 8%;
            .fa-store{
                color: rgba(147, 86, 220, 1);
            }
        }
        &-text{
            display: flex;
            justify-content: center;
            font-size: 16px;
            font-family: "roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
    }
}




                                                    /* MAIN-RESTAURANT UNDER 768PX */




.main-restaurants{
    @include directionColumn;
    gap: 10px;
    background: rgba(246, 246, 246, 1);
    padding-bottom: 50px;
    width: 100%;
    #main-restaurants-title{
        display: flex;
        width: 91%;
        height: 31px;
        font-size: 24px;
        margin-top: 50px
    }
    &-content{
        @include directionColumn;
        gap: 18px;
        width: 91%;
        max-width: 700px;
    }
    &-cards{
        @include directionColumn;
        gap: 18px;
        position: relative;
        z-index: 500;
        width: 100%;
        & a{
            text-decoration:none;
            color: black;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    .restaurants-cards-badges{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 29px;
        top: 8px;
        right: 10px;
        background-color: $tertiary-color;
        color: rgba(0, 135, 102, 1);
        border-radius: 2px;
        z-index: 800;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        box-shadow: 0px 2px 4px 0px #00000026;
        }
    }
}

.restaurants-cards{
    width: 100%;
    height: 251px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    z-index: 500;
    position: relative;
    &-img{
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;

    }
    &-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0px 10px 0px 10px;
        border-radius: 15px 15px 15px 15px;
        .cards-body-content{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        .cards-body-content-title{
            font-size: 18px;
            font-weight: 700;
            font-family: "roboto", sans-serif;
        }
        .cards-body-content-subtitle{
            font-size: 14px;   
        }
    }
}


                                /* IMAGE DE LA CARTE DU RESTAURANT DE LA NOTE ENCHANTEE DE LA PAGE D'ACCUEIL */




.restaurant-cards-img-lanoteenchanté{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;

}



                                                            /* MENU UNDER 768PX*/




.banniere{
    & img{
        height: 275px;
    }
}

.main-la-note-enchantee{
    height: 1180px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1335px;
    background-color: white;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 290px;
    background: #F6F6F6;
    &-header{
        height: 80px;
        width: 88%;
        &-title{
            display: flex;
            align-items: end;
            font-family: "Shrikhand", sans-serif;
            font-size: 22px;
            font-weight: 400;
            text-align: left;
            text-align: left;
            height: 100%;
            width: 93%;
            justify-content: space-between;
            margin: 0;
        }
    }
}

.main-section-entrees{
    width: 88%;
    max-width: 634px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px 0;
    gap: 15px;
    transform: translateX(-100%);
    opacity: 0;
    animation-name: animation-plats;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    &-title{
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 13px;
        font-weight: 300;
        font-family: "roboto", sans-serif;
        margin: 0;
        &-border{
            @include borderBottomGreen;
        }
    }
}

.main-section-plats{
    width: 88%;
    max-width: 634px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px 0;
    gap: 15px;
    transform: translateX(-100%);
    opacity: 0;
    animation-name: animation-plats;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    &-title{
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 13px;
        font-weight: 300;
        font-family: "roboto", sans-serif;
        margin: 0;
        &-border{
            @include borderBottomGreen;
        }
    }
}

.main-section-desserts{
    width: 88%;
    max-width: 634px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px 0;
    gap: 15px;
    transform: translateX(-100%);
    opacity: 0;
    animation-name: animation-plats;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    &-title{
        display: flex;
        width: 100%;
        height: 30px;
        margin: 0;
        font-size: 13px;
        font-weight: 300;
        font-family: "roboto", sans-serif;
        &-border{
            @include borderBottomGreen;
        }
    }
}

.section-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #00000026;
    .cards-content{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
        .cards-content-title{
            font-size: 11px;
            height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
            font-family: "roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        .cards-content-subtitle{
            height: 20px;
            font-size: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "roboto", sans-serif;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .prix{
        display: flex;
        align-items: end;
        width: 27px;
        height: 33px;
        font-size: 11px;
        font-weight: 600;
        margin-right: 15px;
    }
}

.main-btn{
    margin: 20px 0px 40px 0px;
}

.note-enchantee-main-layout{
    height: 1415px;
}

.note-enchantee-entrees-layout{
    height: 351px;
}



                                                        /* MEDIA QUERIES tablet BETWEEN 768px and 1023.99px */





                                                    /* PAGE dACCUEIL BETWEEN 768PX AND 1023.99PX*/



@media screen and (min-width: 768px) {



                                                    /* ANIMATIONS BETWEEN 768PX AND 1023.99PX*/


    .animation-chargement{
        height: 1465px;
        .animation-chargement-fork-knife{
            width: 150px;
        }
        &-title{
            font-size: 100px;
            &-text{
                font-size: 60px;
            }
        }
    }



                                                        /* ARTICLE BETWEEN 768PX AND 1023.99PX */


                                                                                                                       
    .article{
        height: 280px;
        gap: 20px;
        .article-title{
            font-size: 32px;
        }
        .article-subtitle{
            width: 700px;
        }  
    }

    
                                                                






                                                    /* MAIN-FONCTIONNEMENT BETWEEN 768PX AND 1023.99PX */



    .main-fonctionnement{
        height: 230px;
        &-title{
            width: 95%;
            margin-top: 35px;
            max-width: 1080px;
        }
        &-content{
            display: flex;
            flex-direction: row;
            width: 93%;
            &-nav{
                width: 100%;
            }
        }
    }


                                                /* MAIN-RESTAURANT BETWEEN 768PX AND 1023.99PX */



    .main-restaurants{
        width: 100%;
        #main-restaurants-title{
            margin-top: 23px;
            width: 95%;
            max-width: 1080px;
        }
        .main-restaurants-content{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 95%;
            max-width: 1080px;
            gap: 56px;
            & .main-restaurants-cards{
                width: 46%;
            }
        }
    }



                                                    /* FOOTER BETWEEN 768PX AND 1023.99PX */



    .footer{
        width: 100%;
        justify-content: end;
        height: 150px;
        display: flex;
        align-items: end;
        flex-direction: row-reverse;
        gap: 16px;
        padding-bottom: 20px;
        position: relative;
        padding-right: 1vw;
    }

    .footer-logo{
        padding: 0 20px 0 20px;
    }

    .footer .footer-content{
        flex-direction: row;
        align-items: center;
    }



                                                        /* MENUS BETWEEN 768PX AND 1023.99PX */

    .layout-title-la-note-enchantee{
        margin-top: 18px;
    }

    .main-la-note-enchantee{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 1175px;
    }

    .main-container{
        width: 100%;
        max-width: 805.59px;
        height: 1150px;
    }


    .main-container-header-title{
        width: 100%;
        justify-content: center;
    }

    .section-entrees-title,
    .section-plats-title,
    .section-desserts-title{
        width: 100%;
    }

    .main-section-entrees,
    .main-section-plats,
    .main-section-desserts{
        max-width: 634px;
    }

    .section-cards{
        width: 100%;
        .cards-content{
            &-title{
                font-size: 14px;
            }
        }
    }

    .section-cards:hover{
        & > .cards-content{
            & > .cards-content-title{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
    
            }
            & > .cards-content-subtitle{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
    
            }
        }
    }

    .note-enchantee-main-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 805.59px;
        height: 1300px;
        background-color: white;
        border-radius: 25px 25px 0 0;
        position: absolute;
        top: 290px;
        background: #F6F6F6;
    }
}



                                                                /* MEDIA QUERIES DESKTOP >= 1024px */


@media screen and (min-width : 1024px) {



    .animation-chargement{
        height: 1465px;
        .animation-chargement-fork-knife{
            width: 190px;
        }
        &-title{

            &-text{
                font-size: 80px;
            }
        }
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banniere{
        width: 100%;
        img{
            height: 383px;
        }
    }

    main{
        width: 100%;
    }

    .article{
        .article-title{
            font-size: 40px;
        }
    }

    .main-container{
        margin-top: 100px;
    }

    .main-fonctionnement{
        height: 230px;
        &-title{
        }
        &-content{
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 93%;
            max-width: 1055px;
            gap: 30px;
        }
        &-nav{
            width: 100%;
            justify-content: start;
            padding-left: 40px;
            &-cygle{
                margin: 0 10% 0 0;
            }
        }
    }

    .note-enchantee-main-layout{
        max-width: 1055px;
    }

    .main-restaurants{
        width: 100%;
        #main-restaurants-title{
            width: 95%;
        }
        .main-restaurants-content{
            width: 95%;
            gap: 56px 76px;
            max-width: 1080px;
            & .main-restaurants-cards{
                width: 46%;
            }
        }
    }

    .restaurants-cards{
        width: 100%;
    }

    .footer{
        width: 100%;
        justify-content: end;
    }

                                                                        /* MENUS >= 1024px */

    .main-container{
        width: 80%;
        max-width: 1055px;
    }

    .main-container-header{
        display: flex;
        justify-content: center;
        margin-right: 40px;
    }

    .main-container-header-title{
        width: 100%;
        font-size: 28px;
    }

    .main-section-entrees,
    .main-section-plats,
    .main-section-desserts{
        width: 79%;
        max-width: 634px;
    }

    .section-cards:hover{
        & > .cards-content{
    
            & > .cards-content-title{
                width: 240px;
                height: 19px;
                overflow: unset;
                text-overflow: unset;
                white-space: nowrap;
            }
            & > .cards-content-subtitle{
                width: 240px;
                height: 19px;
                overflow: unset;
                text-overflow: unset;
                white-space: nowrap;
            }
        }
    }
}