*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    width: 375px;
    margin: auto;
}

h3{
    margin: 0;
}

img{
    object-fit: cover;
    width: 100%;
}

