@import "Utils/Variables/variables";
@import "Utils/Variables/mixins";
@import "Layouts/header/header";
@import "Layouts/footer/footer";
@import "Base/Fonts/fonts";
@import "base/general/general";
@import "components/buttons/_buttons.scss";
@import "components/icons/heart";




                                                                                /* MOBILE FIRST */

                                                                              /* PAGES D'ACCUEIL */

.article{
    @include directionColumn;
    height: 280px;
    background: rgba(234, 234, 234, 0.5);
}

.article-title{
    width: 275px;
    height: 68px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 40px 0 0 0;
}

.article-subtitle{
    text-align: center;
    width: 315px;
    height: 46px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}

.article-btn{
    width: 218px;
    height: 50px;
    margin-top: 20px;
}



.main-fonctionnement{
    @include directionColumn;
    gap: 25px;
    height: 460px;
}

.main-fonctionnement-title{
    display: flex;
    width: 340px;
    height: 31px;
    @include titreh2;
    margin-top: 50px
}

.main-fonctionnement-nav{
    @include directionRow;
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    z-index: 500;
    background: rgba(246, 246, 246, 1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: relative
}

.main-fonctionnement-nav-numero{
    @include directionRow;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    z-index: 1000;
    background: rgba(147, 86, 220, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14.18px;
}

.main-fonctionnement-nav-text{
    display: flex;
    width: 211px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    @include titreh4;
}

.main-fonctionnement-nav-cygle{
    display: flex;
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.fa-store:before{
    color: rgba(147, 86, 220, 1);
}

.main-restaurants{
    @include directionColumn;
    gap: 10px;
    height: 1230px;
    background: rgba(246, 246, 246, 1);
}

#main-restaurants-title{
    display: flex;
    width: 340px;
    height: 31px;
    @include titreh2;
    margin-top: 50px
}

.main-restaurants-content{
    @include directionColumn;
    gap: 18px;
}

.main-restaurants-cards{
    @include directionColumn;
    gap: 18px;
    position: relative;
    z-index: 500;
    & a{
        text-decoration:none;
        color: black
    }
}

.restaurants-cards{
    width: 340px;
    height: 251px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    z-index: 500;
    position: relative;
}

.restaurants-cards-badges{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 29px;
    top: 13px;
    left: 247px;
    background-color: $tertiary-color;
    color: rgba(0, 135, 102, 1);
    border-radius: 2px;
    z-index: 800;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.restaurants-cards-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px 15px 15px 15px;
}

.restaurants-cards-img{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    object-position: bottom;
}

.restaurant-cards-img-lanoteenchanté{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    object-position: 0 -150px;
}

.position{
    object-position: 0 -150px;
}

.cards-body-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cards-body-content-title{
    @include titreh3;
}

.cards-body-content-subtitle{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;   
}


                                                                /* MENU - LA PALETTE DU GOUT */
body{
    position: relative;
}

.banniere{
    & img{
        height: 275px;
        z-index: 1;
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 1037px;
    background-color: white;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 290px;
    border: 1px solid black;
}

.main-header{
    height: 80px;
    width: 349px
}

.main-header-title{
    @include titreh1;
    display: flex;
    align-items: end;
    font-family: "Shrikhand";
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    height: 100%;
}

.heart-menu{
    right: 35px;
    top: 50px;
}

.main-section-entrees{
    width: 349px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-entrees{
    margin-top: 30px;
}

.section-entrees-title{
    text-align: start;
    width: 349px;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: relative;
}

.section-entrees-title-border{
    position: absolute;
    top: 23px;
    width: 40px;
    border: 2px solid #99E2D0;
}