@charset "UTF-8";
/* VARIABLES */
/* MIXIN */
/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  width: 375px;
  margin: auto;
  border: 1px solid black;
}

h3 {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* MOBILE FIRST */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.header-return {
  border: 2px solid black;
  position: absolute;
  left: 17px;
  top: 17px;
}
.header-return i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 36px;
}

.header-logo img {
  width: 162px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-location-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 19px;
  gap: 17px;
}

.header-location-input input {
  width: 139px;
  height: 19px;
  border: none;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.header-location-input i {
  width: 12px;
  height: 16px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background: rgba(234, 234, 234, 0.5);
}

.article-title {
  width: 275px;
  height: 68px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
}

.article-subtitle {
  text-align: center;
  width: 315px;
  height: 46px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.article-btn-button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.article-btn-button:hover {
  background: linear-gradient(#FF79DA, #9356DC), linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.85;
  transition: 300ms ease-out;
}

.main-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 460px;
}

.main-fonctionnement-title {
  display: flex;
  width: 340px;
  height: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
}

.main-fonctionnement-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  z-index: 500;
  background: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.main-fonctionnement-nav-numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  z-index: 1000;
  background: rgb(147, 86, 220);
  color: rgb(255, 255, 255);
  font-size: 14.18px;
}

.main-fonctionnement-nav-text {
  display: flex;
  width: 211px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.main-fonctionnement-nav-cygle {
  display: flex;
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.fa-store:before {
  color: rgb(147, 86, 220);
}

.main-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 1230px;
  background: rgb(246, 246, 246);
}

#main-restaurants-title {
  display: flex;
  width: 340px;
  height: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
}

.main-restaurants-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.main-restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  z-index: 500;
}
.main-restaurants-cards a {
  text-decoration: none;
  color: black;
}

.restaurants-cards {
  width: 340px;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  z-index: 500;
  position: relative;
}

.restaurants-cards-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  top: 13px;
  left: 247px;
  background-color: #99E2D0;
  color: rgb(0, 135, 102);
  border-radius: 2px;
  z-index: 800;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.restaurants-cards-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

.restaurants-cards-img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurant-cards-img-lanoteenchanté {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  -o-object-position: 0 -150px;
     object-position: 0 -150px;
}

.position {
  -o-object-position: 0 -150px;
     object-position: 0 -150px;
}

.cards-body-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cards-body-content-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.cards-body-content-place {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.cards-body-heart {
  width: 22px;
  height: 21px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.cards-body-heart i {
  font-size: 20px;
}

.fa-regular.fa-heart {
  position: absolute;
  color: #9356DC;
  z-index: 1000;
}

.fa-solid.fa-heart {
  position: absolute;
  color: #9356DC;
  z-index: 2000;
  opacity: 0;
}

.fa-solid.fa-heart:active {
  opacity: 1;
  transition: 1000ms ease;
}

.footer {
  width: 375px;
  height: 186px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px 22px 25px;
  background: rgb(53, 53, 53);
}
.footer .footer-logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  gap: 10px;
}
.footer .footer-content .footer-content-link {
  display: flex;
  gap: 13px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: white;
}
.footer .footer-content .footer-content-link i {
  width: 11px;
}
.footer .footer-content .footer-content-link a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */