@mixin directionColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin directionRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin footerLinkFont{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

@mixin borderBottomGreen{
    position: absolute;
    top: 23px;
    width: 40px;
    border: 2px solid #99E2D0;
}