                                                                        /* Heart Page d'accueil */

.heart{
    width: 22px;
    height: 21px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 10000;
    & i{
        font-size: 20px;
    }
}

.regular-heart{
    position: absolute;
    color: #b160db;
    z-index: 1000;
}

.solid-heart{
    position: absolute;
    color: #b160db;
    z-index: 2000;
    opacity: 0;
    fill: url(#my-cool-gradient);
}

.solid-heart:active{
    opacity: 1;
    transition: 300ms ease;
}


                                                                        /* Heart Menu */

.heart-menu{
    width: 22px;
    height: 21px;
    position: absolute;
    right: 29px;
    top: 47px;
    & i{
        font-size: 20px;
    }
}

